table , tbody, thead{
  width: 100%;
  border: 1px solid #d7ddd7;
  border-collapse: collapse;
}
tr ,td, th{
  width: auto;
  height: 40px;
  text-align: center;
  border: 1px solid #d7ddd7;
  border-collapse: collapse;
}
