table , tbody, thead{
  width: 100%;
  border: 1px solid #d7ddd7;
  border-collapse: collapse;
}
tr ,td, th{
  width: auto;
  height: 40px;
  text-align: center;
  border: 1px solid #d7ddd7;
  border-collapse: collapse;
}

.btn-dark{
  border: none;
  padding: 5px 7px;
  min-width: 50px;
  height: 30px;
  border-radius: 12%;
  background-color: var(--color-blue);
  color: var(--color-white);
  font-size: 1em;
  font-weight: 700;
  margin: 12px;
}