.not-found{
  padding: 20px 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: grid;
  place-content: center;
  place-items: center;
  background-color: #f7f7f7;
}

.not-found-link{
  padding: 5px 15px;
  text-align: center;
  height: 25px;
  width: 140px;
  background-color: var(--color-red);
  color: var(--color-white);
  font-size: medium;
  border-radius: 12%;
  transform: scale(1);
  transition: all .3s ease-in-out;
  cursor: pointer;
}

.not-found-link:hover{

  transform: scale(.8);
}
